@use "./components/header";
@use "./components/searchBar";
@use "./components/content";
@use "./components/footer";
@use "./vars/vars" as *;

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

.app{
	height: 100%;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: sans-serif;
	background-color: $bcg-color;
	
}